{% extends "home.html" %}
{% load cms_tags sekizai_tags %}
{% load static %}

{% block page_title %}Каталог{% endblock %}

{% block main %}
<section class="section__catalog">
    <div class="container">
        <div class="catalog">
            <div class="catalog__item left__item">
                <div class="catalog__bar">
                    <h3 class="catalog__title">Категории <span class="reset">Сбросить все</span></h3>

                    <div class="catalog__manufacturer" data-config-id="1">
                        <img src="{% static 'img/tab1act.png' %}" class="active__img" alt="img">
                        <img src="{% static 'img/tab1def.png' %}" class="passive__img" alt="img">
                    </div>
                    <div class="additional">
                        <div class="additional__title">
                            <span>Сервоприводы для систем ЧПУ</span>
                            <svg class="configurator__arrow additional__arrow" width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 15.5L12 9.5L18 15.5" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                        <div class="configurator__additional">
                            <div class="configurator__item additional__item">
                                <div class="configurator__item-title">
                                    <span>Системы управления для токарных станков</span>
                                    <img src="{% static 'img/config_arrow.svg' %}" alt="img" class="configurator__arrow">
                                </div>
                            </div>
                            <div class="configurator__item additional__item">
                                <div class="configurator__item-title">
                                    <span>Системы управления для токарных станков</span>
                                    <img src="{% static 'img/config_arrow.svg' %}" alt="img" class="configurator__arrow">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="catalog__item right__item">
                <div class="catalog__img"></div>
                <div class="series">
                    <h3 class="section__title title__left"><span>ПЛК</span></h3>
                    <div class="series__text">Программируемые логические контроллеры серии HC с высокой надежностью, высокой производительностью и высокой скоростью нашли применение во многих отраслях промышленности по всему миру. HNC Electric тесно сотрудничает с заказчиками в разработке продуктов, которые являются наилучшим выбором для их применения. Простые в эксплуатации, быстрые и надежные ПЛК серии HC более эффективно и точно обрабатывают ваши приложения.</div>
                    <div class="series__tabs tabs">
                        <div class="tabs__titles">
                            <div class="tabs__title active" data-tab-id="1">
                                <span>
                                    Преимущества и характеристики
                                    <img src="{% static 'img/plus.svg' %}" alt="" class="tab__open">
                                    <img src="{% static 'img/minus.svg' %}" alt="" class="tab__close">
                                </span>
                                <div class="tab__inner">
                                    <div class="tab__text">
                                        1. Полный ассортимент ПЛК на выбор клиентов, включая HCS / HCG / HCM <br>
                                        2. Управляемый: 10 ~ 256 точек <br>
                                        3. Различные модули расширения <br>
                                        4. Встроенные коммуникационные порты и высокоскоростной импульсный выход <br>
                                        5. Подробные инструкции по применению для различных применений
                                    </div>
                                </div>
                            </div>
                            <div class="tabs__title" data-tab-id="2">
                                <span>
                                    Продукт. Рекомендация
                                    <img src="{% static 'img/plus.svg' %}" alt="" class="tab__open">
                                    <img src="{% static 'img/minus.svg' %}" alt="" class="tab__close">
                                </span>
                                <div class="tab__inner">
                                    <div class="tab__text">
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos quasi hic ab consectetur laborum dolorem maiores, ullam et sint quaerat recusandae praesentium voluptates exercitationem explicabo quidem ea quo, obcaecati quas?
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab active" data-tab-id="1">
                            <div class="tab__text">
                                1. Полный ассортимент ПЛК на выбор клиентов, включая HCS / HCG / HCM <br>
                                2. Управляемый: 10 ~ 256 точек <br>
                                3. Различные модули расширения <br>
                                4. Встроенные коммуникационные порты и высокоскоростной импульсный выход <br>
                                5. Подробные инструкции по применению для различных применений
                            </div>
                        </div>
                        <div class="tab" data-tab-id="2">
                            <div class="tab__text">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos quasi hic ab consectetur laborum dolorem maiores, ullam et sint quaerat recusandae praesentium voluptates exercitationem explicabo quidem ea quo, obcaecati quas?
                            </div>
                        </div>
                    </div>
                    <div class="series__items">
                        <a href="#" class="series__item">
                            <div class="series__item-img">
                                <img src="{% static 'img/PLC 1.png' %}" alt="">
                            </div>
                            <div class="series__item-title">
                                ПЛК серии HCS (Новинка!)
                            </div>
                        </a>
                        <a href="#" class="series__item">
                            <div class="series__item-img">
                                <img src="{% static 'img/PLC 1.png' %}" alt="">
                            </div>
                            <div class="series__item-title">
                                ПЛК типа платы серии HCG (Новинка!)
                            </div>
                        </a>
                        <a href="#" class="series__item">
                            <div class="series__item-img">
                                <img src="{% static 'img/PLC 1.png' %}" alt="">
                            </div>
                            <div class="series__item-title">
                                ПЛК серии HCM (Новинка!)
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

    // Menu
    $('.menu__item').removeClass('active')
    $('.menu__item[data-uid=1]').remove()
    $('.menu__item[data-uid=2]').remove()
    $('.menu__item[data-uid=3]').remove()
    $('.menu__item[data-uid=4]').addClass('active')

</script>
{% endblock %}